@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Montserrat", serif;
}

:root{

  --C1: #1C1C1C;
  --C2: #FFFFFF;


}

html {
  font-size: 16px;
}



html, body, #root{
  width: 100vw;
  height: 100vh;

  background-color: var(--C1);
}



#root{
  display: flex;
}

@media (min-width: 768px) {
  html {
    font-size: 18px; /* Mudar um pouco o tamanho em tablet */
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 20px; /* Mudar o tamanho em computador */
  }
}